<!-- medals.html -->

<div class="card" data-bs-theme="dark">
    <div class="card-header">
        {{project['title']}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row">
            <!-- <div class="col-4 d-flex align-items-center"> -->
                <span>
                    <img class="w-50" src="https://ntcomps.com/assets/medals/gold-7d88129358c406da2776b13ec54ddda5289ebdc633e66ff3173f4be0abb511bf.png">
                </span>
            </div>
            <!-- <div class="col-8"> -->
            <div class="row">
                <h5 class="card-title">{{project['description']}}</h5>
                <p class="card-text">{{project['subtext']}}</p>
                <a href="#" class="btn btn-primary">Check it Out</a>
            </div>
        </div>
    </div>
</div>